:hover {
  background-color: white;
  color: #22283A;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
  width: 90%;
  margin: 0 auto;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  html,
  body {
    width: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
  padding: 20px;
  font-size: 30px;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  width: 100%;
  background-color: #F6F6F6;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  nav {
    width: 100%;
  }
}
nav .nav {
  width: 100%;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  /* position: fixed; */
  /* z-index: 1; */
  /* opacity: 0.9; */
}
nav .nav h1 {
  font-size: 4.4rem;
  margin-bottom: 20px 0;
}
.navigation {
  width: 60%;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .navigation {
    width: 100%;
  }
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro img {
  border-radius: 5px;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .space-images img {
    width: 100%;
  }
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .sky {
    display: none;
  }
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
}
.home .walk .walk-text {
  width: 100%;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .walk .walk-text {
    margin-top: 20px;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  height: 40px;
  width: 100px;
  color: white;
  font-size: 1.8rem;
  background-color: #22283A;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
}
/* Mobile screen viewers*/
@media only screen and (max-width: 500px) {
  .home .walk .walk-text .btn {
    height: 40px;
    width: 100%;
    color: white;
    font-size: 1.8rem;
    background-color: #22283A;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
/* Mobile screen viewers */
@media only screen and (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 0 auto;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:2;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color:lightgrey;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* Contact Form formation */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(52, 50, 172);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #23a2f7;
}

/* Subscribe Newsletter form*/

form {
  border: 4px solid #f1f1f1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit]:hover {
  opacity: 0.8;
}