// Mixins Here

&:hover{
background-color:white;
color:@btn-bg-color;
}

.flex-nav() {
    display: flex;
    justify-content: space-evenly;
}

.flex-nav1(){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button(@height, @width) {
    height: @height;
    width: @width;
    color: white;
    font-size: 1.8rem;
    background-color: @btn-bg-color;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    display: flex;
    align-center: center;
    justify-content: center;
}

// Animation styles//

@keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }