// Navigation code here
nav {
    width: 800px;
    background-color: @nav-bg;

    .nav {
        width: 800px;
        margin: 0 auto; 
        .flex-nav1; 

        @media @phone {
            width: 80%;
        }

        h1 {
            font-size: 3rem;
            margin: 20px 0;

            
        }
    }
}

.navigation {
    width: 60%;
    padding:10px 0;
    .flex-nav; 
    width: 100%; 

    a {
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
    }
}



